/* CONFIG */
:root{
  --thisoe:#178577;

    /** `.list` item height */
    --ih:99pt;
}



/* FONT */
@font-face {
  font-family: "FP";
  src: url("../font/fusion-pixel-12px-monospaced-zh_hans.ttf.woff2") format("woff2");
}



/* RESET */
html,body,
i,a,p,button{all:unset}

*{
  margin:0;
  font-size:12pt;line-height:1;
  font-family:"FP";
}
*, ::before, ::after{
  box-sizing:border-box !important;  margin: 0; padding: 0;
}
i,nav,p{display:flex;flex-direction:column}

*::selection{
  background:#07f7;
  /* color:#cef; */
  /* text-shadow: 1px 1px #335; */
}

::-webkit-scrollbar{width:12pt}
::-webkit-scrollbar-track{background-color:#000c}
::-webkit-scrollbar-thumb{
  background-color:#ccc;
  box-shadow:inset -2pt -3pt #777c;
}


/*******/
body{
  background-color:var(--thisoe);
  >*{color:#fff}
}
main{
  display:none;
  position:fixed; top:0; left:0;
  flex-direction:column;
  width:100%;height:100%;
  height:100dvh;
  overflow:auto;
}
footer{
  position:fixed;right:3pt;bottom:3pt;
  text-align:end;
  font-size:9pt;
  font-weight:lighter;
}

h1{
  margin:0 auto;
  padding:9pt 3pt;
  font-size:27pt;
  font-weight:normal;
  line-height:1;
  overflow:hidden; white-space:nowrap;
  text-shadow: 3pt 3pt #000A;
}

/* Minecraft Button ( by Joel https://codepen.io/joexmdq/pen/EOMLzg )
 * !!! PUT TEXT INTO <p> INSIDE THE <a> or <button> !!!
 * E.g. <a href="map"><p>实时地图</p></a>
 */
a, button{
  width:360pt; height:36pt;
  overflow:hidden; white-space:nowrap;
  user-select:none;
  background:#999 url('../public/mcbtn.png') center / cover;
  image-rendering:pixelated;
  border:2px solid #000;
  cursor:pointer;

  >p{
    display:flex;flex-direction:row;
    font-size:18pt;
    line-height:1;
    justify-content: center; align-items: center;
    width:100%; height:100%;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;

    >.ico{
      height:21pt;
      aspect-ratio:1;
      margin:0 1pt;
      image-rendering:pixelated;
      object-fit:cover;
    }
  }

  &:not(:disabled):hover{
    border-color:#fffe;
    >p{
      /* background-color:#6464ff73; */
      text-shadow: 2px 2px #202013cc;
      /* color: #ffa; */
    }
  }
  &:not(:disabled):active>p{
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
  }
}
button:disabled{
  cursor:not-allowed;
  >p{
    background-color:#333c;
    box-shadow: inset -2pt -2pt #5553, inset 2pt 2pt #0003;
  }
}

.options{
  padding:18pt 9%;
  gap:9pt;
  >i{
    justify-content: center;
    flex-direction:row;
    gap:9pt;
  }
}



/* index */

#index h1{
  padding-top:5%;
  font-size:50pt;
  font-weight:bold;
}
#index .innerwrap{
  justify-content:space-evenly;
  width:100%;height:100%;
  min-height:500pt;
}
#index nav{
  margin:0 auto;
  padding:0 9pt 9%;
  gap:9pt;

  >i{
    flex-direction:row;
    justify-content: space-between;
    gap:9pt;
    & a,& button{
      width:calc(50% - 3pt);
    }
  }
}



/* places & heritages */

.list,.cmd-wrap{
  width:100%;
  flex:1; /* height */
  outline:#eee7 solid 2pt;
  border:#111c solid 2pt;
  border-left:0;border-right:0;
  padding:7pt 0;
  background-color:#3339;
  align-items: center;
  overflow: auto;
  gap:9pt;
}
/* an item of list */
.list>i{
  flex-direction:row;
  width: 81vw;
  min-width:500pt; max-width:calc(99vw - 30pt);
  height:var(--ih);
  border:transparent solid 3pt;
  outline:transparent solid 3pt;
  gap:12pt;

  &:hover:not(.active){
    background-color:#3337;
    border-color:#aaaa;
  }
  &.active{ /* TODO: Add `.active` of list item in jQuery */
    background-color:#111a;
    border-color:#000;
    outline-color:#fffe;
  }

  >.thumb{
    width:var(--ih); height:var(--ih);
    background:#999 url('../public/places/v0/thumb/_fallback.png') center / cover no-repeat; /* default thumbnail img */
  }

  >.meta{
    flex-grow:1;
    justify-content:space-around;

    >i:nth-of-type(1){
      flex-direction:row;
      align-items:end;

      >h2{
        padding-right:9pt;
        font-size:calc(var(--ih) / 3 - 3pt);
        line-height:calc(var(--ih) / 3);
        font-weight:normal;
        text-shadow: 2pt 2pt #000A;
      }
      >p{
        width:fit-content;
        padding: 3pt 7pt 1pt;
        background: #3339;
        outline: #cccc solid 2px;
        font-size:calc(var(--ih) / 4 - 7pt);
        text-shadow: 2px 2px #1119;
        cursor:default;
      }
    }
    >i:nth-of-type(2){
      flex-direction:row;
      flex-wrap:wrap;
      gap:3pt;

      >.tag{
        overflow:hidden; white-space:nowrap;
        padding:3pt 7pt;
        border-radius:0 3pt 3pt;
        font-size:16pt;
        background-color:black; /* default tag color */
        box-shadow: inset -1pt -1pt #7773, inset 2pt 2pt #0003;
      }
    }
  }
  /*The button on the right;
    prepare for future use.*/
  >.info{
    display:none;
    /* width:var(--ih); height:var(--ih);
    >button{
      margin:3pt;
      width:30pt; height:30pt;
    } */
  }
}

#places,#heritages{
  overflow:hidden;
  justify-content: space-evenly;
}



/* clipbord */
.cmd-wrap{
  align-items:stretch;
  gap:16pt;

  >i{
    align-self:center;
    align-items:center;
    width:81vw;
  }
  & h2{
    padding:9pt 0;
    font-size:21pt;
    line-height:1;
    font-weight:normal;
    text-shadow: 3px 3px #000A;
  }

  >.anchors>i{
    flex-direction:row;
    gap:9pt;
  }

  >.cmd{
    >label{
      width:100%;
      font-size:16pt;
      line-height:18pt;
      text-shadow: 2px 2px #000A;
    }
    >i{
      flex-direction:row;
      align-items:center;
      width:100%;
      padding:3pt 0;
      gap:7pt;

      >textarea{ resize:none;
        flex:1;
        align-content:center;
        height: 36pt;
        padding:0 7pt;
        border: #ccc inset 3px;
        font-size: 18pt;
        line-height:1.2;
        white-space: nowrap;
        color:#fff;
        background-color:#000;
        scrollbar-width: none;
        text-shadow: 3px 3px #aaa7;
        caret-animation:manual;
        &:focus{
          border:#eee inset 3px;
          outline:none;
          background-color:navy;
        }
        &::selection{
          color:#00f;
          background-color:#eee;
          text-shadow-: 3px 3px #35fa;
        }
      }
      >.copy{
        width:fit-content;
        >p{
          font-size:16pt;
          padding:0 9pt;
        }
      }
    }
  }
}




/* DIALOG */
#backdrop{ display:none;
  z-index:8;
  position:fixed; left:0;top:0;
  width:100vw;height:100vh;
  background-color:#3339;
}
#dialog{
  z-index:9;
  margin:auto;
  
}