/* CONFIG */
:root{
  --thisoe:#178577;
}



/* FONT */
@font-face {
  font-family: "FP";
  src: url("../font/fusion-pixel-12px-monospaced-zh_hans.ttf.woff2") format("woff2");
}



/* RESET */
html,body,
i,a,p,button{all:unset}

*{
  margin:0;
  font-size:12pt;line-height:1;
  font-family:"FP";
}
*, ::before, ::after{
  box-sizing: border-box;  margin: 0; padding: 0;
}
i,nav,p{display:flex;flex-direction:column}

*::selection{
  background:#07f7;
  /* color:#cef; */
  /* text-shadow: 1px 1px #335; */
}



/*******/
body{
  background-color:var(--thisoe);
  &>*{color:#fff}
}
main{
  display:none;
  position:fixed; top:0; left:0;
  flex-direction:column;
  width:100%;height:100%;
  height:100dvh;
  overflow:auto;
}
footer{
  position:fixed;right:3pt;bottom:3pt;
  text-align:end;
  font-size:9pt;
  font-weight:lighter;
}

h1{
  margin:0 auto;
  padding:9pt 3pt;
  font-size:27pt;
  font-weight:normal;
  line-height:1;
  overflow:hidden; white-space:nowrap;
  text-shadow: 3pt 3pt #000A;
}

/* Minecraft Button ( by Joel https://codepen.io/joexmdq/pen/EOMLzg )
 * !!! PUT TEXT INTO <p> INSIDE THE <a> or <button> !!!
 * E.g. <a href="map"><p>实时地图</p></a>
 */
a, button{
  width:360pt; height:36pt;
  overflow:hidden; white-space:nowrap;
  user-select:none;
  background:#999 url('../public/mcbtn.png') center / cover;
  image-rendering:pixelated;
  border:2px solid #000;
  cursor:pointer;

  &>p{
    font-size:18pt;
    justify-content: center; align-items: center;
    width:100%; height:100%;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
  }
  
  &:not(:disabled):hover{
    border-color:#fffe;
    &>p{
      /* background-color:#6464ff73; */
      text-shadow: 2px 2px #202013cc;
      /* color: #ffa; */
    }
  }
  &:not(:disabled):active>p{
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
  }
}
button:disabled{
  cursor:not-allowed;
  &>p{
    background-color:#333c;
    box-shadow: inset -2pt -2pt #5553, inset 2pt 2pt #0003;
  }
}



/* index */

#index h1{
  padding-top:5%;
  font-size:50pt;
  font-weight:bold;
}
#index .innerwrap{
  justify-content:space-evenly;
  width:100%;height:100%;
  min-height:500pt;
}
#index nav{
  margin:0 auto;
  padding:0 9pt 9%;
  gap:9pt;

  &>i{
    flex-direction:row;
    justify-content: space-between;
    gap:9pt;
    & a,& button{
      width:calc(50% - 3pt);
    }
  }
}



/* places & heritages */

.list{
  width:100%;
  height:calc(99% - 45pt - 99pt); /* (99% - h1 - .options) */
  outline:#eee7 solid 2pt;
  border:#111c solid 2pt;
  border-left:0;border-right:0;
  padding:7pt 0;
  background-color:#3339;
  align-items: center;
  gap:9pt;

  /* an item of list */
  &>i{
    flex-direction:row;
    width:500pt; max-width:calc(99vw - 9pt);
    height:50pt;
    border:2pt;
    outline:3pt;
    gap:3pt;

    &.active{ /* TODO: Add `.active` of list item in jQuery */
      background-color:#000e;
      border-color:#000;
      outline-color:#fffe;
    }

    &>.thumb{
      width:50pt; height:50pt;
      background:#999 url('../public/places/_fallback.png') center / cover no-repeat;
    }

    &>.meta{
      flex-grow:1;
      justify-content:space-around;

      &>i:nth-of-type(1){
        flex-direction:row;
        &>h2{
          padding:0 3pt;
          font-size:16pt;
          line-height:18pt;
          font-weight:normal;
          text-shadow: 2px 2px #000A;
        }
        &>.copy{
          height:18pt;
          width:fit-content;
          &>p{
            width:fit-content;
            padding:0 7pt;
            font-size:12pt;
            box-shadow:0 0 0 0;
          }
        }
      }
      &>i:nth-of-type(2){
        flex-direction:row;
        gap:3pt;

        &>.tag{
          padding:3pt 7pt;
          border-radius:0 3pt 3pt;
          font-size:12pt;
          background-color:black; /* default tag color */
          box-shadow: inset -1pt -1pt #7773, inset 2pt 2pt #0003;
        }
      }
    }

    &>.info{
      width:50pt; height:50pt;
      &>button{
        margin:3pt;
        width:30pt; height:30pt;
      }
    }
  }
}
.options{
  padding:18pt 9%;
  gap:9pt;
  &>i{
    justify-content: center;
    flex-direction:row;
    gap:9pt;
  }
}

#places,#heritages{
  justify-content: space-evenly;
}



/* DIALOG */
#backdrop{ display:none;
  z-index:8;
  position:fixed; left:0;top:0;
  background-color:#3339;
}
#dialog{
  z-index:9;
  margin:auto;
  
}